{
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "no-console": "warn",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}